:root{
    --font-size: 1rem;
    --font-family: "Roboto", serif;
    color: #ff0000;
  }
  
  html {
    font-size: 100%; 
  }
  
  body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--color-cadetblue);
    font-style: normal;
    background-color:#1e1e2f;
  }
  
  a{
    color:brown;
  }
  
  a:hover {
    color: rgb(0, 0, 0);
  }
  
  table{
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width: 50%;
  }
  
  #nombre{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #Inicio, #Acerca, #Habilidades, #Proyectos, #Contacto{
    font-family: "Sigmar", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  #proyectos{
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .text-center{
    text-align: center;
  }
  
  .bg-black{
    background-color: black;
  }
  
  .text-bold{
    font-weight: bold;
  }
  
  
  
  .Proyects summary:first-child{
    color: red;
  }
  
  .Proyects summary:last-child{
    color: blueviolet;
  }
  
  .Proyects summary:last-child{
    color: brown;
  }
  
  .card-proyectos,
  .card-nav{
    border: 3px solid rgb(255, 255, 255);
    padding: 1rem;
    text-align: center;
  }
  
  .container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*
  MediaQueries
    Mobile 768px
    Tablet 1024px
    Desktop 1200px
  */
  
  @media screen and (min-width: 768px) {
    .grid-proyectos,
    .grid-nav{
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-columns: repeat(2,50%);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .grid-proyectos,
    .grid-nav{
      display: grid;
      /*grid-template-columns: 33% 34% 33%;*/
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .grid-nav{
      display: grid;
      /*grid-template-columns: 33% 34% 33%;*/
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  
  
  * {
    box-sizing: border-box;
  }