body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.668);
}

/* Estilo para los títulos */
h1 {
    font-size: 30px;
    margin: 20px 0;
}

/* Estilo para las imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

 
    ul
    {
        text-align: left;
    }

    li{
        text-align: left;
    }
